<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<body>
    <div>
        
        <h1>{{data}}</h1>
        </div>
	<div class="player">
		<div class="main">
			<audio></audio>
			<div class="thumbnail">
				<img src="">
			</div>
			<div class="seekbar">
				<input type="range">
			</div>
			<div class="details">
				<h2></h2>
				<p></p>
			</div>
			<div class="controls">
				<div class="prev-control">
					<i class="fa fa-backward"></i>
				</div>
				<div class="play-pause-control paused">
					<i class="fa fa-play"></i>
					<i class="fa fa-pause"></i>
				</div>
				<div class="next-control">
					<i class="fa fa-forward"></i>
				</div>
			</div>
		</div>
        
		<div class="player-list">
			<div class="toggle-list">
				<i class="fa fa-angle-up"></i>
				<i class="fa fa-angle-down"></i>
			</div>
			<div class="list">
			</div>
		</div>
	</div>
	<script> var myVar = '{{data}}'</script>
	<script type="text/javascript" src="/static/code.js"></script>
	
</body>
</html>